@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

:where(.css-dev-only-do-not-override-amq5gd).ant-menu-dark, :where(.css-dev-only-do-not-override-amq5gd).ant-menu-dark>.ant-menu {
  background-color: #bd1958 !important;
  color: #fff;  
}

:where(.css-dev-only-do-not-override-amq5gd).ant-layout-header{
  background-color: #bd1958 !important;
  color: #fff;
}

:where(.css-dev-only-do-not-override-amq5gd).ant-menu-dark.ant-menu-horizontal >.ant-menu-item-selected, :where(.css-dev-only-do-not-override-amq5gd).ant-menu-dark>.ant-menu.ant-menu-horizontal >.ant-menu-item-selected, :where(.css-dev-only-do-not-override-amq5gd).ant-menu-dark.ant-menu-horizontal >.ant-menu-submenu-selected, :where(.css-dev-only-do-not-override-amq5gd).ant-menu-dark>.ant-menu.ant-menu-horizontal >.ant-menu-submenu-selected {
    color: #fff;
    background-color: #6e0a31 !important;
}

/* primary: 015ad9
secondary: 00b4d8 */